<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>도서관리</title>
  <link rel="stylesheet" href="./css/main.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-router@3.5.3/dist/vue-router.js"></script>
</head>

<body>
  <div id="app">
    <header-nav></header-nav>
    <router-view></router-view>
  </div>

  <!-- template -->
  <template id="main-content-tmpl">
    <div>
      <ul>
        <li>
          <router-link to="/create">도서 등록</router-link>
        </li>
        <li>
          <router-link to="/list">도서 목록</router-link>
        </li>
      </ul>
    </div>
  </template>

  <template id="header-nav-tmpl">
    <div class="header">
      <router-link to="/"> <img src="./img/ssafy_logo.png" class="ssafy_logo" /></router-link>
      <p class="logo">도서관리</p>
    </div>
  </template>

  <template id="book-create-tmpl">
    <div class="regist">
      <h1 class="underline">SSAFY 도서 등록</h1>
      <div class="regist_form">
        <label for="isbn">도서번호</label>
        <input type="text" v-model="isbn" id="isbn" name="isbn" /><br />
        <label for="title">도서명</label>
        <input type="text" v-model="title" id="title" name="title" /><br />
        <label for="author">저자</label>
        <input type="text" v-model="author" id="author" name="author" /><br />
        <label for="price">가격</label>
        <input type="number" v-model="price" id="price" name="price" /><br />
        <label for="content">설명</label>
        <br />
        <textarea id="content" v-model="content" name="content" cols="35" rows="5"></textarea><br />
        <button @click="regist">등록</button>
        <button @click="moveList">목록</button>
      </div>
    </div>
  </template>

  <template id="book-list-tmpl">
    <div>
      <h1 class="underline">도서 목록</h1>
      <div style="text-align: right">
        <button v-on:click="movePage">도서 등록</button>
      </div>
      <div v-if="books.length > 0">
        <table id="book-list">
          <colgroup>
            <col style="width: 5%" />
            <col style="width: 20%" />
            <col style="width: 40%" />
            <col style="width: 20%" />
            <col style="width: 15%" />
          </colgroup>
          <thead>
            <tr>
              <th>번호</th>
              <th>ISBN</th>
              <th>제목</th>
              <th>저자</th>
              <th>가격</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(book,index) in books" :key="book.isbn">
              <td>{{index+1}}</td>
              <td>{{book.isbn}}</td>
              <td>
                <router-link :to="'/view?isbn='+book.isbn">{{book.title}}</router-link>
              </td>
              <td>{{book.author}}</td>
              <td>{{book.price}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-else class="text-center">게시글이 없습니다.</div>
    </div>
  </template>

  <template id="book-modify-tmpl">
    <div class="regist">
      <h1 class="underline">SSAFY 도서 수정</h1>
      <div class="regist_form">
        <label for="isbn">도서번호</label>
        <input type="text" id="isbn" name="isbn" v-model="book.isbn" /><br />
        <label for="title">도서명</label>
        <input type="text" id="title" name="title" v-model="book.title" /><br />
        <label for="author">저자</label>
        <input type="text" id="author" name="author" v-model="book.author" /><br />
        <label for="price">가격</label>
        <input type="number" id="price" name="price" v-model="book.price" /><br />
        <label for="content">설명</label>
        <br />
        <textarea id="content" name="content" cols="35" rows="5"
          v-model="book.content">{{book.content}}</textarea><br />
        <button v-on:click="modifyBook">수정</button>
        <button v-on:click="moveList">목록</button>
      </div>
    </div>
  </template>

  <template id="book-view-tmpl">
    <div class="regist">
      <h1 class="underline">SSAFY 도서 정보</h1>
      <div class="regist_form">
        <label for="isbn">도서번호</label>
        <div class="view">{{book.isbn}}</div>
        <label for="title">도서명</label>
        <div class="view">{{book.title}}</div>
        <label for="author">저자</label>
        <div class="view">{{book.author}}</div>
        <label for="price">가격</label>
        <div class="view">{{book.price}}원</div>
        <label for="content">설명</label>
        <div class="view">{{book.content}}</div>
        <div style="padding-top: 15px">
          <button @click="modifyBook" class="btn">수정</button>
          <button @click="deleteBook" class="btn">삭제</button>
          <router-link to="/list" class="btn">목록</router-link>
        </div>
      </div>
    </div>
  </template>

  <!-- module -->
  <script type="module">
    import router from "./App.js"
    import HeaderNav from "./components/HeaderNav.js";

    new Vue({
      el: "#app",
      components: {
        HeaderNav,
      },
      router,
    })
  </script>
</body>

</html>